services:
  catalog_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: catalog_service
    restart: always
    ports:
      - "5000:5000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb://host.docker.internal:27017/snm_jewellery_catalog
    networks:
      - snm_jewelry_network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  snm_jewelry_network:
    external: true
