version: "3.8"

services:
  catalog_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: catalog_service
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGO_URI=mongodb://snm_mongo:27017/snm_jewellery_catalog
    depends_on:
      snm_mongo:
        condition: service_healthy
    networks:
      - snm_jewelry_network
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  snm_jewelry_network:
    external: true
